@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
#brands {
	display: none;
	font-size: 13px;
	list-style: none;
	background: #eee;
	border: 1px solid #ddd;
	padding: 10px;
	position: relative;
	margin-right: 50px;
	@include box-shadow(0 2px 4px rgba(0,0,0,0.1));
	@include transform(translate(0, -10px));
	@include transition(transform 0.25s linear);
}
#brands > li {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	padding-left: 20px;
	background: url("suggestion-bullet.png") left no-repeat;
}
#brands.shown {
	@include transform(translate(0, 0));
}
#brands::before
, #brands::after {
	position: absolute;
	display: block;
	content: "";
	width: 0;
	height: 0;
	bottom: 100%;
	left: 50%;
	
}
#brands::before {
	border: 11px solid rgba(221,221,221,0);
	border-bottom-color: #ddd;
	margin-left: -11px;
}
#brands::after {
	border: 10px solid rgba(238,238,238,0);
	border-bottom-color: #eee;
	margin-left: -10px;
}
#brands-loading {
	display: none;
	background: url("loading-spinner.png") center center no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 62px;
	left: 442px;
	pointer-events: none;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@media screen and (max-width: 660px) {
	#brands-loading {
		top: 19px;
		right: 76px;
		left: auto;
	}
}