@-webkit-keyframes boing {
	0% {
		-webkit-transform: translate(0, 0);
	}
	16.667% {
		-webkit-transform: translate(0, -5px);
	}
	33.333% {
		-webkit-transform: translate(0, 0);
	}
}
@keyframes boing {
	0% {
		transform: translate(0, 0);
	}
	16.667% {
		transform: translate(0, -5px);
	}
	33.333% {
		transform: translate(0, 0);
	}
}
#episodes-list {
	width: 400px;
	margin: 0 auto;
	list-style: none;
	padding: 0;
	font-size: 13px;
}
#episodes-list > li {
	padding: 20px;
	border-bottom: 1px solid #eee;
	@include transition
		( background 0.25s ease-in-out
		, color 0.25s ease-in-out );
}
#episodes-list > li:hover {
	background: #FA479A;
	color: #FFF;
	cursor: pointer;
}
#no-episodes {
	visibility: hidden;
	opacity: 0;
	padding: 20px;
	background: #fee;
	color: #300;
	width: 380px;
	margin: 0 auto;
	@include transition(visibility 0s linear 0.25s, opacity 0.25s linear);
}
#no-episodes.show {
	visibility: visible;
	opacity: 1;
	@include transition(visibility 0s linear 0s, opacity 0.25s linear);
}
#episodes-loading {
	position: absolute;
	top: 300px;
	left: 50%;
	width: 80px;
	margin-left: -60px;
	text-align: center;
	color: #b2b2b2;
	padding: 70px 20px 20px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include box-shadow(0 1px 2px rgba(0,0,0,0.1));
	@include transition
		( visibility 0s linear 0.25s 
		, opacity 0.25s linear );
	border: 1px solid #ddd;
	background: #eee;
}
#episodes-loading.shown {
	opacity: 1;
	visibility: visible;
	@include transition-delay(0);
}
#episodes-loading-1
, #episodes-loading-2
, #episodes-loading-3 {
	display: block;
	position: absolute;
	top: 20px;
	-webkit-animation: boing 1s linear infinite;
	animation: boing 1s linear infinite;
}
#episodes-loading-1
, #episodes-loading-3 {
	background: url("loading-note-crotchet.png");
	width: 11px;
	height: 35px;
}
#episodes-loading-2 {
	background: url("loading-note-quaver.png");
	width: 29px;
	height: 42px;
	left: 50%;
	margin-left: -15px;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
#episodes-loading-1 {
	left: 20px;
}
#episodes-loading-3 {
	right: 20px;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}