$font-size: 13px;
$font-family: Tahoma, Verdana, Arial, sans-serif;

body {
	@include establish-baseline($font-size);
	font-family: $font-family;
	margin: 0;
	background: #fff;
	color: #333;
}
input[type=text] {
	font-size: 1em;
	font-family: $font-family;
	padding: 5px;
	border: 1px solid #ddd;
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
	width: 320px;
	margin: 15px 18px;
	margin-right: 0;
}
input[type=text]:focus {
	outline: 0;
	border: 1px solid #aaa;
	@include box-shadow(0 0 8px rgba(204,204,204,0.25));
}
button {
	float: right;
	padding: 5px 10px;
	font-size: 1em;
	margin: 15px 18px;
	margin-left: 0;
	font-family: $font-family;
	border: 1px solid #aaa;
	background: #ccc;
	@include background(linear-gradient(top, #ccc, #bbb));
	@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.4));
	cursor: pointer;
}
