#masthead {
	border-bottom: 1px solid #ccc;
	border-bottom-color: rgba(0,0,0,0.2);
	height: 40px;
}
#masthead-inner {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
#logo {
	padding: 8px;
	float: left;
}
#logo > img {
	display: block;
}
#main {
	width: 980px;
	margin: 0 auto;
}
#iplayer-radio {
	position: relative;
}
#iplayer-radio > img {
	position: absolute;
	top: 55px;
	left: 10px;
	z-index: 9;
}
#error {
	position: absolute;
	display: none;
	background: #f66;
	padding: 20px;
	color: #fec;
	left: 0;
	top: 0;
	right: 0;
}
@media screen and (max-width: 980px) {
	#masthead-inner
	, #main {
		width: auto;
	}
	#iplayer-radio {
		position: static;
		text-align: center;
		margin: 20px;
		margin-bottom: 0;
	}
	#iplayer-radio > img {
		position: static;
		top: auto;
		left: auto;
	}
	
}