#episodes {
	width: 400px;
	margin: 0 auto;
	list-style: none;
	padding: 0;
	font-size: 13px;
}
#episodes > li {
	padding: 20px;
	border-bottom: 1px solid #eee;
	@include transition
		( background 0.25s ease-in-out
		, color 0.25s ease-in-out );
}
#episodes > li:hover {
	background: #FA479A;
	color: #FFF;
	cursor: pointer;
}
#no-episodes {
	visibility: hidden;
	opacity: 0;
	padding: 20px;
	border: 1px solid #600;
	background: #fcc;
	color: #300;
	width: 400px;
	margin: 0 auto;
	@include transition(visibility 0s linear 0.25s, opacity 0.25s linear);
}
#no-episodes.show {
	visibility: visible;
	opacity: 1;
	@include transition(visibility 0s linear 0s, opacity 0.25s linear);
}
