#search {
	background: url("search-bg.png") center top no-repeat;
	height: 60px;
	width: 420px;
	padding: 42px 120px 94px;
	margin: 20px auto;
	position: relative;
}
@media screen and (max-width: 660px) {
	#search {
		width: auto;
		padding: 42px 0 94px;
		position: static;
	}
	#search > form {
		width: 420px;
		margin: 0 auto;
		position: relative;
	}
}
@media screen and (max-width: 520px) {
	#search {
		background: none;
		padding: 0;
	}
}
