compass=/path/to/compass
googlecc=/path/to/googlecc
composer=/path/to/composer
composer-clean=/path/to/composer-clean
npm=/path/to/npm
npm-clean=/path/to/npm-clean
mocha-phantomjs=/path/to/mocha-phantomjs
mocha-phantomjs-path=/path/to/phantomjs;/path/to/nodejs